<!DOCTYPE html>
<html lang="en">

<head>
    <title>hehehehe</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1> {{greeting}} </h1>

        <form v-if="visible">
            <label for="email">Email:</label>
            <input type="email" v-model="email">

            <button type="submit" @click.prevent="submitForm">Skicka</button> <!--Kör submitform, preventDefault()-->
        </form>
        <h2 v-else>Nu får du spam från dedma</h2>
    </div>
</body>

<script>
    let = app = Vue.createApp({
       
        data() {
            return {
                greeting: "Tjenare tjenare",
                email: "boijersi@arcada.fi",
                visible: true
            }
        },
        methods: {
            submitForm() {
                console.log("Yo")
                this.visible = false;
            },

            rage() {
                console.log("enough is enough")
            }
        }
    

    })

    app.mount("#app")
   
    const vm = Vue.createApp(App).mount("#app")
</script>

</html>