<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Första vue sidan</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>{{greeting}}</h1>
        <form v-if="visible">
            <email-box></email-box>
            <email-box></email-box>
            <email-box></email-box>

            <submit-button></submit-button>
        </form>
    </div>
</body>
<script>
    let app = Vue.createApp({
        data() {
            return {
                greeting: "Hello from Vue 3",
                email: "hansenjo@arcada.fi",
                visible: true
            }
        }
    })
    app.component("submit-button", {
        template: '<button type="submit" @click.prevent="submitForm">Sign up!</button>',
        methods: {
            submitForm() {
                console.log("Form submitted!")
                this.$root.visible = false
            }
        }
    })
    app.component("email-box", {
        template: '<label for="email">Email:</label> <input type="email" v-model="email"> <br><br>',
        data() {
            return {
                email: this.$root.email
            }
        },
    })
    app.mount("#app")

</script>

</html>